{% extends 'registration/base.html' %}
{% load static %}
{% block title %}
   {{page_title}}
{% endblock %}

{% block content %} 
    <div class="admin-content"> 
        <p>Catalogue: {{catalogue.name}}</p>
                <p>Detail: {{catalogue.details}}</p>
                <p>Posted by: {{catalogue.owner}}</p>
                <p>Ends on: {{catalogue.end_date}}</p>
                <p>Starting bid: {{catalogue.starting_bid}}</p>
                <p>Admin Approved: {{catalogue.admin_approved}}</p>    
                

                <form style="display: inline;" action="{% url 'administration:catalogue_action' slug=catalogue.slug%}" method=POST>
                        {% csrf_token %}
                        {% if catalogue.admin_approved %}
                            <button id="approve-btn" name="remove" type="submit">Withdraw Approval</button>
                        {% else %}
                            <button id="approve-btn" name="approve" type="submit">Approve</button>
                            <button id="approve-btn" name="delete" type="submit">Delete Catalogue</button>
                        {% endif %}
                    </form>
    </div>
 {% endblock %}