{% extends 'registration/base.html' %}
{% load static %}
{% block title %}
   {{page_title}}
{% endblock %}

{% block content %} 
    <div class="admin-content"> 
        {% if UserInfos %}
            <table class="table table-hover table-striped" id="sortable">
                <thead>
                    <tr>
                        
                        <th scope="col" onclick="sortTable(0)">Username</th>
                        <th scope="col" onclick="sortTable(1)">Email</th>
                        <th scope="col" onclick="sortTable(2)">Organization</th>
                        <th scope="col" onclick="sortTable(3)">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_info in UserInfos %}
                        <tr>
                            
                            <td><a href="{% url 'administration:user_detail' user_info.id %}">{{user_info}}</a></td>
                            <td>{{user_info.user.email}}</td>
                            <td>{{user_info.organization_name}}</td>
                            <td>{{user_info.phone}}</td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>



 {% endblock %}