{% extends 'registration/base.html' %}
{% load static %}
{% block title %}
   User details
{% endblock %}

{% block content %} 
    <div class="admin-content"> 
                <p>Username: {{userinfo.user.username}}</p>
                <p>Contact Person: {{userinfo.contact_person}}</p>
                <p>Phone: {{userinfo.phone}}</p>
                <p>Admin Approved: {{userinfo.admin_approved}}</p>    
                
                <div class="container">
                    {% if user_file_present %}
                        <button id="button" onclick="showhide()">Show user files</button>
                        
                        
                        <div class="container" id="toggalable" style="display:none;">
                        <p>Proof of Identity</p>
                        <embed src="{{user_files.proof_of_identity.url}}" width="1000" height="375" type="application/pdf">
                        
                        
                        <br>
                        <br>
                        
                        
                        <p>Proof of Address</p>
                        <embed src="{{user_files.proof_of_address.url}}" width="1000" height="375" type="application/pdf">
                        
                        
                        <br>
                        <br>
                        
                        
                        <p>Proof of GSTIN</p>
                        <embed src="{{user_files.proof_of_gst.url}}" width="1000" height="375" type="application/pdf">
                        </div>
                        <br>
                        <br>
        
                    {% endif %}
                </div>

                    <form style="display: inline;" action="{% url 'administration:user_action' pk=userinfo.id %}" method=POST>
                        {% csrf_token %}
                        {% if userinfo.admin_approved %}
                            <button id="approve-btn" name="remove" type="submit">Withdraw Approval</button>
                        {% elif userinfo.documents_uploaded %}
                            <button id="approve-btn" name="approve" type="submit">Approve</button>
                            <button id="approve-btn" name="reject" type="submit">Reject documents</button>
                        {% else %}
                            <button id="approve-btn" name="notify" type="submit">Send reminder</button>
                            <button id="approve-btn" name="delete" type="submit">Delete User</button>
                        {% endif %}
                    </form>
                
    </div>
 {% endblock %}