{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  Catalogue Detail
{% endblock %}

{% block content %}
{% if catalogue.admin_approved or catalogue.owner == user %}
        <div class="container">
                <h1>Name: {{catalogue.name}}</h1>
                <p>Details: {{catalogue.details}}</p>
                {% if catalogue.starting_bid  %}<p>Base price: {{ catalogue.starting_bid }}</p>{% endif %}
                <p>End date: {{catalogue.end_date}}</p>
                <p>Bidding Strategy: {% if catalogue.strategy == 'ascending' %}Low to High{% elif catalogue.strategy == 'descending' %}High to Low{% else %}Get Quotations{% endif %}</p>
                <p>{% if catalogue.auction_status %} 
                    On Auction 
                  {% else %} 
                    Auction over
                        {% if catalogue.owner == user %}
                          <p> Winner is : {{max_bidder}} </p>
                          <form class="small-form" action="{% url 'marketplace:notify_winner' catalogue.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="">Notify Winner</button>
                          </form>
                        {% endif %}
                  {% endif %}
                </p>
          </div>
          {% if file_present %}
          
          <div class="container" id="toggleable">
                
                
                <embed src="{{catalogue_file.file_name.url}}" width="1000" height="375" type="application/pdf">
                  
                
          </div>
          {% endif %}
    {% if catalogue.strategy == 'quotes' %}
          <div class="container">
                {% if catalogue.owner != user %}
                  <p>Your quote : {{current_user_high}}</p>
                {% else %}
                <p>Do something when the owner wants to see the quotes</p>
                {% endif %}
          </div>
    {% else %}
        <div class="container">
          <h2> 
            {% if catalogue.auction_status %} 
                Current Winning Bid: {{max_bid}}
            {% else %}
              Winning Bid: {{max_bid}} 
            {% endif %}
          </h2>
        </div>
    {% endif %}
  
    {% if catalogue.owner != user%}
          <div class="container">
            {% if catalogue.strategy != 'quotes' %}
            <p>Your bid : {{current_user_high}}</p>
            {% endif %}
            {% if catalogue.auction_status and catalogue.admin_approved %}
                <form action="{% url 'marketplace:add_bid' catalogue.slug %}" method="GET">
                {% csrf_token %}
                <input type="checkbox" required="True">I agree to the website's Terms and conditions.</input>
                <br>
                <input type="checkbox" required="True">I have read and understand the customer's requirements and i'm ready to fulfil them.</input>
                <br>
                <br>
                <a href="{% url 'payments:payments_home' catalogue.slug%}">Pay the token fee</a>
                <button type="submit" name="">Bid on this item</button>
              </form>
            {% endif %}
          </div>
    {% endif %}
{% endif %}


{% if not catalogue.admin_approved %}
    <div class="container">
      <p> Waiting admin approval </p>
    </div>  
  
{% endif %}

<script type="text/javascript" language="JavaScript">
mydiv = document.getElementById("toggleable");

function showhide(d) {
    d.style.display = (d.style.display !== "none") ? "none" : "block";
}
</script>




{% endblock %}
