{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  Your Catalogue
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'marketplace/styles.css' %}">
{% endblock %}
{% block content %}

    
    
    <div class="container">
        
        
    {% comment %} <div class="jumbotron"> {% endcomment %}
        <form class="form-inline my-2 my-lg-0 search-form inline-form"  action="{% url 'marketplace:search' %}" method="GET">
            
            <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search Marketplace" aria-label="Search" name="search" >
          
        </form>
        {% if user_profile.admin_approved %}
            <form class="small-form inline-form add-item-form" action="{% url 'marketplace:add_item' %}" enctype="multipart/form-data" method="GET">
                {% csrf_token %}
                <button type="submit" name="">Add a new item</button>
            </form>
        {% endif %}
        <br>
        <br>
    
        {% if user_profile.admin_approved %}
            
            {% comment %} <h2><li><a href="{% url 'marketplace:catalogue_detail' catalogue.slug %}">{{catalogue.name}}</a></li></h2> {% endcomment %}
                {% if catalogues %}
                <table class="table table-hover table-striped" id="sortable">
                    <thead>
                        <tr>
                        
                        <th scope="col" onclick="sortTable(0)">Name</th>
                        <th scope="col" onclick="sortTable(1)">End date</th>
                        <th scope="col" onclick="sortTable(2)">Starting Bid Amount</th>
                        <th scope="col" onclick="sortTable(3)">Admin Approved</th>
                        <th scope="col" onclick="sortTable(4)">Auction Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for catalogue in catalogues %}
                        <tr>
                            
                            <td><a href="{% url 'marketplace:catalogue_detail' catalogue.slug %}">{{catalogue.name}}</a></td>
                            <td>{{catalogue.end_date}}</td>
                            <td>{{catalogue.starting_bid}}</td>
                            <td>{% if catalogue.admin_approved %}Yes{% else %}No{% endif %}</td>
                            <td>{% if catalogue.auction_status %}On Auction{% else %}Auction Over{% endif %}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                {% else %}
                <div class="container">
                <p>You do not own any catalogues.</p>
                </div>
                {% endif %}
        {% else %}
            <h2>Please verify your email first by submitting the documents.</h2>
        {% endif %}
    {% comment %} </div> {% endcomment %}
    </div>
<div class="container">
{% if is_paginated %}
        <div class="pagination">
            
                {% if page_obj.has_previous %}
                    <a href="?paginate_by={{ paginate_by }}&page=1"> &laquo First &nbsp </a>
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}"> previous &nbsp </a>
                {% endif %}
                
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                
                {% if page_obj.has_next %}
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}"> &nbsp next &nbsp </a>
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.paginator.num_pages }}"> Last &raquo  </a>
                {% endif %}
            
        </div>
    {% endif %} 
    <br>
    
<form action="" method="get">
    Show 
    <select name="paginate_by">
        <option {% if paginate_by == '2' %}selected{% endif %}>2</option>
        <option {% if paginate_by == '3' %}selected{% endif %}>3</option>
        <option {% if paginate_by == '5' or paginate_by == 5 %}selected{% endif %}>5</option>
        <option {% if paginate_by == '10' %}selected{% endif %}>10</option>
    </select>
    <input type="submit" value="Results/page">
</form>
</div>
{% endblock %}
