{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  Your Bids
{% endblock %}

{% block content %}
<div class="container">
  {% comment %} <div class="jumbotron"> {% endcomment %}
        {% if bids %}
      <table class="table table-hover table-striped" id="sortable">
                    <thead>
                        <tr>
                        
                        <th scope="col" onclick="sortTable(0)" >Name</th>
                        <th scope="col" onclick="sortTable(1)">Bid Amount</th>
                        <th scope="col" onclick="sortTable(2)">Closing Date</th>
                        
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                        <tr>
                            
                            <td><a href="{% url 'marketplace:catalogue_detail' bid.catalogue_name.slug %}">{{bid.catalogue_name.name}}</a></td>
                            <td>{{bid.bid_amount}}</td>
                            <td>{{bid.catalogue_name.end_date}}</td>
                            
                            
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
        <div class="container">
        <p>You have not placed any bids on any items. Go to <a href="{% url 'marketplace:all_catalogue' %}">MarketPlace</a> to bid on an item.</p>
        </div>
        {% endif %}
      
  {% comment %} </div> {% endcomment %}
</div>

{% if is_paginated %}
        <div class="pagination">
            
                {% if page_obj.has_previous %}
                    <a href="?paginate_by={{ paginate_by }}&page=1"> &laquo First &nbsp </a>
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}"> previous &nbsp </a>
                {% endif %}
                
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                
                {% if page_obj.has_next %}
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}"> &nbsp next &nbsp </a>
                    <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.paginator.num_pages }}"> Last &raquo  </a>
                {% endif %}
            
        </div>
    {% endif %} 
    <br>
    
<form action="" method="get">
    <select name="paginate_by">
        <option>2</option>
        <option>3</option>
        <option selected>5</option>
        <option>10</option>
    </select>
    <input type="submit" value="Results/page">
</form>
{% endblock %}
